body,html{
	margin:0;
	padding:0;
	color:white;
}

.wrapper{
	position: relative;
	width:100vw;
	height:100vh;
}

#map{
	position: absolute;
	top:0; 
	bottom:0; 
	width:100%;
	height:100%; 
	z-index:-1;
}

#div-hover i{
	color:white;
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
}

#div-hover{
		position: absolute;
		top: 0;
		left: 0;			
		display:flex;
		align-items:center;
		justify-content: center;
		height:100vh;
		width:100%;
		min-height:450px;		
		background-image: linear-gradient(rgba(50,0,51,0.7),rgba(50,0,51,0.7)), url("../img/bg01.jpg");
		background-position: center;
		background-size:cover;
	}

#div-hover .container{
	border: solid white 2px;
	padding:30px;
	border-radius: 5px;
}	

	#div-hover #app-logo{
		width:200px;
	}

	#div-hover a{
		border: solid white 1px;
		border-radius: 5px;
		text-decoration: none;
		padding:10px;
		cursor:pointer;
	}

	#div-hover a:hover{
		background-color:white;
		color: #330033;
		transition: 0.5s ease;
	}