body,html{
	margin:0;
	padding:0;
	background: url("../img/bg01.jpg");
	background-position: center;
	background-repeat:no-repeat;
		text-align: right;
		background-color: #330033;
}

h1{
font-size: 100px;
font-family: ;
color:white;
}

.logo{
	float:left;
}